<div class="row">
  <div class="col-8 m-auto">
    <form [formGroup]="formGroupEmpresa">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome: </label>
        <input type="text" formControlName="nome" class="form-control" id="nome" placeholder="Nome da empresa">
      </div>
      <div class="mb-3">
        <label for="endereco" class="form-label">Endereço: </label>
        <input type="text" formControlName="endereco" class="form-control" id="endereco" placeholder="Rua exemplo, xxx">
      </div>
      <div class="mb-3">
        <label for="tel" class="form-label">Telefone: </label>
        <input type="tel" formControlName="tel" class="form-control" id="tel" placeholder="00 0000-0000">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email: </label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="example@something.com">
      </div>
      <button class="btn btn-primary" (click)="save()">Salvar</button>
    </form>
  </div>
</div>
